/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 40px 0;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 40px;
}

h1 {
  text-align: center;
}

.apples {
  font-size: 30px;
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
}

.basket {
  margin-top: 15px;
}
