.container {
  background-color: lightblue;
  min-height: 60vh;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 100px);
}

.box1 {
  background-color: rgb(43, 255, 0);
  text-align: center;
}
.box2 {
  background-color: rgb(255, 0, 140);
}
.box3 {
  background-color: rgb(238, 255, 0);
}
.box4 {
  background-color: rgb(122, 108, 148);
}
.box5 {
  background-color:bisque;
}
.box6 {
  background-color:violet;
}
.box7 {
  background-color:coral
}
.box8 {
  background-color: turquoise;
}
.box9 {
  background-color: yellowgreen;
}
.box10 {
  background-color: black;
  color: white;
}

