* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ecffdc;
}

h1 {
  padding-top: 36px;
  text-align: center;
  font-size: 40px;
}

.focus-heading {
  color: #4ba300;
}

.today-heading {
  color: #61481c;
}

.container {
  margin-top: 40px;
  padding: 20px;
  background-color: #fbfbfb;
  max-width: 660px;
  margin-inline: auto;
  margin-bottom: 30px;
  border-radius: 20px;
}

.today-container {
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-inline: 22px;
}

.today {
  font-size: 30px;
  font-weight: 700;
}

.sun-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sun-body {
  width: 100%;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sun-eyes-mouth {
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.progress-text {
  color: rgba(0, 0, 0, 0.571);
  margin-top: 30px;
  margin-inline: 22px;
}

.progress-bar-container {
  width: 93%;
  height: 30px;
  border-radius: 40px;
  background-color: #ecffdc;
  margin-top: 15px;
  margin-inline: 22px;
}

.progress-bar {
  height: 100%;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}

.progress-update-text {
  margin-left: 40px;
  margin-top: 2px;
  position: absolute;
  z-index: 1;
  color: #fbfbfb;
}

.red-warnings {
  color: red;
  margin-top: 30px;
  margin-inline: 22px;
}

fieldset {
  padding: 15px;
  border-radius: 10px;
  margin-block: 25px;
  margin-inline: 22px;
}

.inputs-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 20px;
  width: 100%;
  min-height: 20px;
  border: 2px solid rgba(99, 73, 29, 0.347);
  border-radius: 50%;
  margin-left: 30px;
}

.checkbox.disabled-cursor {
  cursor: not-allowed !important;
}

.checkbox.enabled-cursor {
  cursor: pointer;
}

.checkbox:checked {
  background-color: #4ba300;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 12px;
  position: absolute;
  margin-left: 3px;
}

input[type="text"] {
  border: none;
  padding: 10px;
  background-color: #fbfbfb;
  width: 100%;
}

input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.347);
  font-weight: 500;
}

input[type="text"]:focus {
  outline: none;
}

.buttons-container {
  display: flex;
  justify-content: center;
  column-gap: 100px;
  margin-top: 30px;
}

.add-todo,
.remove-todo {
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.add-todo {
  background-color: #4ba300;
}
.add-todo:hover {
  background-color: #3e8e00;
  transform: scale(1.15);
}

.remove-todo {
  background-color: red;
}
.remove-todo:hover {
  background-color: rgb(222, 0, 0);
  transform: scale(1.15);
}

/* Disabled buttons */
button:disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
  transform: none !important;
}

.footer-message {
  text-align: center;
  font-weight: 700;
  margin-block: 50px;
}

.credits {
  color: rgba(0, 0, 0, 0.571);
  margin-top: 30px;
  text-align: center;
}

.heart {
  color: red;
}

@media screen and (max-width: 600px) {
  .container {
    margin-inline: 30px;
  }

  .today {
    font-size: 24px;
  }

  .progress-bar-container {
    width: 85%;
    height: 20px;
  }

  .inputs-container {
    column-gap: 4px;
  }

  .checkbox {
    margin-left: 6px;
  }

  .progress-text {
    font-size: 12px;
  }

  .progress-update-text {
    margin-left: 10px;
    font-size: 10px;
    margin-top: 2px;
  }

  .sun-icon-container {
    width: 35px;
    height: 35px;
  }

  .sun-icon-container > .sun-body {
    width: 100%;
  }

  .sun-eyes-mouth {
    width: 7px;
  }

  .credits {
    font-size: 10px;
  }

  h1 {
    font-size: 30px;
  }

  .buttons-container {
    justify-content: space-around;
    column-gap: 0px;
  }

  .add-todo,
  .remove-todo {
    padding: 5px 10px;
  }
}
